.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form_box {
  border-radius: 10px;
  padding: 25px 0px;
  width: 350px;
  border: 2px solid #293c5d;
  text-align: center;
}

.logo {
  text-align: center;
}

.logo h1 {
  color: white;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 12px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  border: 2px solid #293c5d;
}

input:focus {
  border: 1px solid #293c5d;
}

.btnLogin {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: #293c5d;
  color: white;
  margin-top: 15px;
}

.btnLogin:hover {
  background-color: white;
  color: #293c5d;
  border: 1px solid #293c5d;
}

.form_box p {
  text-align: center;
  color: red;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 800;
}

.lst_anker {
  color: #293c5d;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
}
